section.socials-module
	
	if social_title
		h4.module-title #{social_title}
	
	div.group.socials-list(class="#{social_class}")
		a.social.js-social.social-facebook(href="https://www.facebook.com/sharer/sharer.php?u=#{site_url}", target="_blank")
				span.icon.icon-facebook
	
		a.social.js-social.social-twitter(href="https://twitter.com/intent/tweet?text=&url=#{site_url}", target="_blank")
				span.icon.icon-twitter
	
		a.social.js-social.social-google(href="https://plus.google.com/share?url=#{site_url}", target="_blank")
				span.icon.icon-google-plus
		a.social.js-social.social-sharethis(href="#", target="_blank")
				span.icon.icon-share